.orderNumber {
    display: block;
    position: absolute;
    width: 520px;
    height: 120px;
    left: 100px;
    top: 120px;
    font-family: "Iceland";
    font-size: 140px;
    text-align: center;
    line-height: 0.9em;
}
.orderId {
    display: block;
    position: absolute;
    width: 520px;
    height: 30px;
    left: 100px;
    top: 272px;
    font-size: 28px;
    text-align: center;
}
.doneLogo {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 300px;
    top: 362px;
}
.orderStartInfo {
    position: absolute;
    width: 520px;
    height: 24px;
    left: 100px;
    top: 542px;
    font-size: 16px;
    text-align: center;
}
.orderPlaceInfo {
    position: absolute;
    width: 520px;
    height: 24px;
    left: 100px;
    top: 574px;
    font-size: 16px;
    text-align: center;
    color: #8585AD;
}