.orderNumber {
    font-family: "Iceland";
    font-size: 140px;
    line-height: 0.9em;
    display: block;
    margin-top: 16px;
}
.orderId {
    display: block;
    font-size: 28px;
    margin-top: 32px;
}
.doneLogo {
    height: 120px;
    margin-top: 60px;
}
.orderStartInfo {
    display: block;
    font-size: 16px;
    margin-top: 60px;
}
.orderPlaceInfo {
    font-size: 16px;
    color: #8585AD;
    margin-top: 8px;
    display: block;
}