.bIngrBlock {
  position: absolute;
  width   : 600px;
  height  : 812px;
  top: 65px;

  .ingridients {
    width     : 600px;
    height    : 688px;
    overflow-x: auto;

    span {
      display  : block;
      font-size: 28px;
    }

    .shortList {
      display  : flex;
      flex-wrap: wrap
    }
  }

  .ingridients::-webkit-scrollbar {
    width: 8px;
  }

  .ingridients::-webkit-scrollbar-track {
    background: #2F2F37;
  }

  .ingridients::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }
}