.main {
    height: 430px;
    width: 480px;
    margin: 190px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainRegister {
    height: 478px;
    width: 480px;
    margin: 190px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainProfile {
    min-width: 660px;
    margin: 120px auto auto;
    display: flex;
    max-width: 1205px;
    padding: 0 30px;
}

.inputWrapper {
    margin-bottom: 24px;

    // div {
    //     width: 480px;
    // }
}

.inputMainWrapper {
    width: 480px;
    height: 240px;
    margin-left: 120px;
}