header {
    width: 100%;
    background-color: #1c1c21;

    nav {
        display        : flex;
        justify-content: space-around;
        max-width      : 1300px;
        margin         : 0 auto;
        position       : relative;

        div {
            position: relative;
            top     : 13px;
        }

        .orderList {
            position    : relative;
            margin-right: 80px;
        }

        span {
            font-size: 14px;
            position : relative;
            bottom   : 6px;
        }

        .logo {
            margin-right: 255px;
            position    : relative;
            top         : 0px;
        }
    }
}