.topHeader {
    width: 100%;
    background-color: #1c1c21;
    color: #8585AD;

    a {
        color: #8585AD;
    }

    .mainNav {
        display: flex;
        justify-content: space-around;
        max-width: 1300px;
        margin: 0 auto;
        position: relative;

        .topTitle {
            font-size: 14px;
            position: relative;
            bottom: 6px;
        }
    }
}

svg {
    fill: #8585AD;
}

.navElement {
    position: relative;
    cursor: pointer;
    top: 12px;
}

.logo {
    margin-right: 215px;
    position: relative;
    top: 0px;
    cursor: pointer;
    svg {
        fill: transparent;
    }
}

.navUl {
    display: contents;
    list-style: none;
    padding: 0;
    margin: 0;
}

.activeLink {
    color: white!important;
}
